/problematicas/Problema_01/nbproject/private/
/problematicas/Problema_01/build/
/problematicas/Problema_02/nbproject/private/
/problematicas/Problema_02/build/
/problematicas/Problema_03/nbproject/private/
/problematicas/Problema_03/build/
/problematicas/Problema_04/nbproject/private/
/problematicas/Problema_04/build/
